src/main/mule/gitcicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4b3315ae-33e2-47ad-aa91-7a85c74b66b6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitcicdFlow" doc:id="0c33fe3b-f047-4b18-a132-81a3cebf86ff" >
		<http:listener doc:name="Listener" doc:id="d4c17bce-a48b-4092-a1d0-ad606e98dd4e" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["CICD Implementation"]' doc:name="Set Payload" doc:id="26c1bf7a-03f5-4fa8-88aa-d1d7ef7456c6" />
	</flow>
</mule>
